<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Resultado</title>
</head>
<body>
    <div class="container">
        <h1>Resultado da Média</h1>
        <div id="resultado"></div>
    </div>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const media = parseFloat(urlParams.get('media'));
        document.getElementById('resultado').innerHTML = `A média das notas é: ${media}`;
    </script>
</body>
</html>